.page-button {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  background: linear-gradient(steelblue, dodgerblue);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 0 2px gray;
  margin-left: 2rem;
}

.page-button:hover,
.page-button:focus {
  opacity: 0.8;
  cursor: pointer;
}

.filledBinsPage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.zerofill {
  font-size: 2rem;
}
